body.is-mobile {
    .mobile-image-viewer {
        animation: var(--anim-duration-fast) fade-in-scale;
        background-color: var(--background-secondary);
    }

    .mobile-image-viewer img {
        border-radius: 0;
    }
}