body.is-mobile {
    &.theme-light .mobile-toolbar {
        background-color: rgb(209 211 218);
    }

    &.theme-dark .mobile-toolbar {
        background-color: rgb(43 43 43);
    }

    .mobile-navbar,
    .workspace-drawer .nav-header {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: var(--layer-status-bar);
        border: none;
    }

    .mobile-navbar {
        background: rgb(0 0 0);
        background: linear-gradient(0deg, rgb(0 0 0 / 100%) 0%, rgb(0 0 0 / 80%) 75%, rgb(0 0 0 / 0%) 100%);
    }

    .mobile-navbar-action {
        display: flex;
        justify-content: center;
    }

    .mobile-navbar-tabs-action {
        border-width: var(--icon-s-stroke-width);
        width: calc(var(--icon-size));
        height: calc(var(--icon-size));
    }

    .mobile-toolbar-option {
        color: var(--text-normal);
    }

    .mobile-toolbar-options-list {
        padding: 0;
    }

    .mobile-tab-switcher {
        backdrop-filter: blur(50px);
    }

    .mobile-tab-switcher-menubar {
        padding: 4px max(var(--safe-area-inset-right), 16px) max(4px, var(--safe-area-inset-bottom)) max(var(--safe-area-inset-left), 16px);
    }

    .nav-buttons-container {
        justify-content: space-between;
        padding: 0;
    }

    .nav-action-button {
        flex-grow: 0 !important;
    }

    &.theme-dark {

        .workspace-drawer .nav-header .nav-buttons-container {
            background-color: var(--background-secondary-alt);
            box-shadow: var(--shadow-s);
            border-radius: var(--radius-m);
        }
    }
}

// todo below, to remove?
body.is-phone {
    &.theme-light {
        .mobile-navbar::after {
            background-color: rgb(from var(--background-primary) r g b / 50%);
        }

        .workspace-drawer .nav-header {
            background-color: rgb(from var(--background-secondary) r g b / 50%);
        }
    }
}

body.is-tablet {
    &.theme-dark .workspace-drawer .nav-header {
        background-color: rgb(from var(--background-primary-alt) r g b / 75%);
    }

    .nav-buttons-container {
        padding: 0;
    }
}