body.is-mobile {
    &.theme-light .mobile-toolbar {
        background-color: rgb(209 211 218);
    }

    &.theme-dark .mobile-toolbar {
        background-color: rgb(43 43 43);
    }

    .mobile-navbar {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: var(--layer-status-bar);
        border: none;
        background: linear-gradient(to top,
                rgb(from var(--background-primary) r g b / 90%) 0%,
                rgb(from var(--background-primary) r g b / 70%) 100%);
        backdrop-filter: blur(50px);
    }

    .mobile-toolbar-option {
        color: var(--text-normal);
    }

    .mobile-toolbar-options-list {
        padding: 0;
    }

    .mobile-tab-switcher-menubar {
        padding: 4px max(var(--safe-area-inset-right), 16px) max(4px, var(--safe-area-inset-bottom)) max(var(--safe-area-inset-left), 16px);
    }

    .workspace-drawer {
        .nav-header {
            z-index: var(--layer-status-bar);
            border: none;
            padding: 0 16px max(var(--size-4-2), var(--safe-area-inset-bottom)) !important;
        }

        .nav-buttons-container {
            justify-content: space-around;
            padding: 0;
            gap: var(--size-4-4);
        }

        .nav-action-button {
            flex-grow: 1 !important;
            border: 1px solid rgb(from var(--nav-item-background-hover) r g b / 5%);
            height: 52px;
        }

        .nav-file-title.is-active {
            background-color: var(--nav-item-background-hover);
        }

        // left padding is adjusted to compensate the hardcoded negative margin-inline-start
        .nav-files-container>div {
            padding: var(--size-4-2) var(--size-4-2) var(--size-4-2) var(--size-4-4);
        }

        .nav-files-container .tree-item {
            padding: 0 0 0 var(--size-4-2);
        }
    }

    &.theme-dark {

        .workspace-drawer .nav-header .nav-buttons-container .nav-action-button {
            background-color: var(--background-secondary-alt);
            box-shadow: var(--shadow-s);
            border-radius: var(--radius-m);
        }
    }
}

// todo below, to remove?
body.is-phone {
    &.theme-light {
        .mobile-navbar::after {
            background-color: rgb(from var(--background-primary) r g b / 50%);
        }

        .workspace-drawer .nav-header {
            background-color: rgb(from var(--background-secondary) r g b / 50%);
        }
    }
}

body.is-tablet {
    &.theme-dark .workspace-drawer .nav-header {
        background-color: rgb(from var(--background-primary-alt) r g b / 75%);
    }

    .nav-buttons-container {
        padding: 0;
    }
}