.pull-action {
    backdrop-filter: blur(50px); // TODO to remove?
    animation: fade-in-down var(--anim-duration-moderate);
    box-shadow: var(--shadow-s);
    border: var(--border-width) solid var(--background-modifier-border);
    background-color: var(--modal-background);
    padding: 12px 24px;
    width: fit-content;
    font-weight: 600;
}