@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes fade-in-down {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }
}

@keyframes fade-in-scale {
    from {
        transform: scale(0.95);
        opacity: 0;
    }
}