body {
    --status-bar-text-color: rgb(from var(--text-muted) r g b / 80%);
}

.status-bar {
    transition: opacity var(--anim-duration-moderate) ease;
    opacity: 0.3;

    right: 5px;
    bottom: 5px;
    border: var(--border-width) solid var(--background-modifier-border);
    border-radius: var(--radius-l);
    gap: var(--size-4-2);
}

.status-bar:hover,
.status-bar:focus,
.status-bar:active {
    opacity: 1;
}