// Icons in the bottom left corner, next to the vault drawer / selector

body:not(.is-mobile) {

    .workspace-sidedock-vault-profile {
        border: none !important;
        --vault-profile-color: var(--text-muted);
        --icon-color: var(--text-muted);
        --icon-opacity: 0.25;
    }

}