// Every style related to the window style

body {
    &:not(.is-phone) {
        --header-height: 44px; // Apply on PC & Tablet
    }
}

body,
body .app-container,
body.is-mobile .app-container,
body.is-phone .app-container,
body.is-tablet .app-container {
    align-items: center;
    overflow: hidden;
}

body:not(.is-mobile) {

    .workspace-ribbon,
    .workspace-split.mod-root,
    .workspace-split,
    .workspace-tabs .workspace-leaf,
    .workspace-split.mod-left-split .workspace-sidedock-vault-profile {
        background-color: transparent;
    }

    &:not(.is-translucent) .horizontal-main-container {
        background-color: var(--background-secondary);
    }

    .workspace {
        background-color: hsla(var(--color-accent-hsl), calc(var(--sei-accented-frame-opacity) * 0.005));
    }

    // Reduce window opacity when unfocused
    &:not(.is-focused) {

        .workspace-ribbon,
        .mod-sidedock>div,
        .mod-root .workspace-tab-header-container {
            opacity: 0.5;
            transition: all 1s ease;
            transition-delay: 5s;
        }
    }

    // Hide border between editors
    .workspace-leaf-resize-handle {
        border-inline-end-color: transparent;
    }
}

.titlebar {
    background-color: transparent !important;
}