body {
    /* Colors */
    --h1-color: rgb(166, 227, 161);
    --h2-color: rgb(148, 226, 213);
    --h3-color: rgb(137, 220, 235);
    --h4-color: rgb(116, 199, 236);
    --h5-color: rgb(135, 176, 249);
    --h6-color: rgb(135, 176, 249);

    /* Font size */
    --h1-font: inherit;
    --h2-font: inherit;
    --h3-font: inherit;
    --h4-font: inherit;
    --h5-font: inherit;
    --h6-font: inherit;

    --h1-line-height: 1.2;
    --h2-line-height: 1.2;
    --h3-line-height: 1.3;
    --h4-line-height: 1.4;
    --h5-line-height: var(--line-height-normal);
    --h6-line-height: var(--line-height-normal);

    --h1-size: 1.802em;
    --h2-size: 1.602em;
    --h3-size: 1.424em;
    --h4-size: 1.266em;
    --h5-size: 1.125em;
    --h6-size: 1em;

    --h1-style: normal;
    --h2-style: normal;
    --h3-style: normal;
    --h4-style: normal;
    --h5-style: normal;
    --h6-style: normal;

    --h1-variant: normal;
    --h2-variant: normal;
    --h3-variant: normal;
    --h4-variant: normal;
    --h5-variant: normal;
    --h6-variant: normal;

    --h1-weight: 700;
    --h2-weight: 600;
    --h3-weight: 600;
    --h4-weight: 600;
    --h5-weight: 600;
    --h6-weight: 600;
}

// Match Inline title with H1 style
// Add bar below H1 & Inline title
.inline-title {
    font-size: var(--h1-size);
    color: var(--text-normal);
    margin-bottom: 24px;
    padding-bottom: 16px;
}

h1,
.HyperMD-header-1 {
    padding-bottom: 16px !important;
}

// Style Settings: optionally remove divider line on h1 & inline

body:not(.sei-remove-divider-inline-title) .inline-title {
    border-bottom: var(--hr-thickness) solid var(--hr-color);
}

body:not(.sei-remove-divider-h1) h1,
body:not(.sei-remove-divider-h1) .HyperMD-header-1 {
    border-bottom: var(--hr-thickness) solid var(--hr-color);
}

// Feature: Headers indicators
body:not(.sei-disable-header-indicators) {

    .markdown-reading-view,
    .markdown-source-view {

        // Replace Arrow collapse indicators by Headers indicators
        h1>.heading-collapse-indicator,
        h2>.heading-collapse-indicator,
        h3>.heading-collapse-indicator,
        h4>.heading-collapse-indicator,
        h5>.heading-collapse-indicator,
        h6>.heading-collapse-indicator,
        .HyperMD-header-1>.cm-fold-indicator>.collapse-indicator,
        .HyperMD-header-2>.cm-fold-indicator>.collapse-indicator,
        .HyperMD-header-3>.cm-fold-indicator>.collapse-indicator,
        .HyperMD-header-4>.cm-fold-indicator>.collapse-indicator,
        .HyperMD-header-5>.cm-fold-indicator>.collapse-indicator,
        .HyperMD-header-6>.cm-fold-indicator>.collapse-indicator {
            opacity: 1 !important;

            >svg {
                display: none;
            }

            &::after {
                font-weight: 600;
                color: var(--text-faint);
                text-align: right;
                line-height: 1;
                margin-inline-start: -12px;
                transition: color var(--anim-duration-fast);
            }

            &.is-collapsed::after {
                color: var(--collapse-icon-color-collapsed);
            }
        }

        // h1
        h1>.heading-collapse-indicator,
        .HyperMD-header-1>.cm-fold-indicator>.collapse-indicator {
            &::after {
                content: "H1";
                font-size: 16px;
            }
        }

        // h2
        h2>.heading-collapse-indicator,
        .HyperMD-header-2>.cm-fold-indicator>.collapse-indicator {
            &::after {
                content: "H2";
                font-size: 14px;
            }
        }

        // h3
        h3>.heading-collapse-indicator,
        .HyperMD-header-3>.cm-fold-indicator>.collapse-indicator {
            &::after {
                content: "H3";
                font-size: 14px;
            }
        }

        // h4
        h4>.heading-collapse-indicator,
        .HyperMD-header-4>.cm-fold-indicator>.collapse-indicator {
            &::after {
                content: "H4";
                font-size: 12px;
            }
        }

        // h5
        h5>.heading-collapse-indicator,
        .HyperMD-header-5>.cm-fold-indicator>.collapse-indicator {
            &::after {
                content: "H5";
                font-size: 12px;
            }
        }

        // h6
        h6>.heading-collapse-indicator,
        .HyperMD-header-6>.cm-fold-indicator>.collapse-indicator {
            &::after {
                content: "H6";
                font-size: 12px;
            }
        }

        // More spacing when editing
        .HyperMD-header-1>.cm-fold-indicator>.collapse-indicator,
        .HyperMD-header-2>.cm-fold-indicator>.collapse-indicator,
        .HyperMD-header-3>.cm-fold-indicator>.collapse-indicator,
        .HyperMD-header-4>.cm-fold-indicator>.collapse-indicator,
        .HyperMD-header-5>.cm-fold-indicator>.collapse-indicator,
        .HyperMD-header-6>.cm-fold-indicator>.collapse-indicator {
            width: 1em;
        }
    }
}