// Colorful tags
// will color tags automatically by the title of it

.tag[href^="#Area"] {
    --tag-color: hsl(159deg 38% 68%);
    --tag-color-hover: hsl(159deg 38% 68%);
    --tag-background: hsl(159deg 38% 68% / 10%);
    --tag-background-hover: hsl(159deg 38% 68% / 20%);
    --tag-border-color: hsl(159deg 38% 68% / 15%);
    --tag-border-color-hover: hsl(159deg 38% 68% / 15%);
}

.tag[href^="#Type"] {
    --tag-color: hsl(220deg 45% 73%);
    --tag-color-hover: hsl(220deg 45% 73%);
    --tag-background: hsl(220deg 45% 73% / 10%);
    --tag-background-hover: hsl(220deg 45% 73% / 20%);
    --tag-border-color: hsl(220deg 45% 73% / 15%);
    --tag-border-color-hover: hsl(220deg 45% 73% / 15%);
}

.tag[href^="#Knowledge"] {
    --tag-color: hsl(261deg 42% 73%);
    --tag-color-hover: hsl(261deg 42% 73%);
    --tag-background: hsl(261deg 42% 73% / 10%);
    --tag-background-hover: hsl(261deg 42% 73% / 20%);
    --tag-border-color: hsl(261deg 42% 73% / 15%);
    --tag-border-color-hover: hsl(261deg 42% 73% / 15%);
}

.tag[href^="#Project"] {
    --tag-color: hsl(42deg 47% 80%);
    --tag-color-hover: hsl(42deg 47% 80%);
    --tag-background: hsl(42deg 47% 80% / 10%);
    --tag-background-hover: hsl(42deg 47% 80% / 20%);
    --tag-border-color: hsl(42deg 47% 80% / 15%);
    --tag-border-color-hover: hsl(42deg 47% 80% / 15%);
}