.theme-dark {
    color-scheme: dark;

    --background-primary: hsl(220deg 2% 15%);
    --background-primary-alt: hsl(220deg 2% 13%);

    --background-secondary: hsl(220deg 2% 13%);
    --background-secondary-alt: hsl(220deg 2% 15%);

    --background-table-rows: hsl(220deg 2% 13%);

    --background-modifier-cover: rgb(0 0 0 / 30%); // Background color for modal-bg, etc...
    --background-modifier-error: hsl(355, 50%, 45%);
    --background-modifier-error-hover: hsl(355, 50%, 55%);

    --color-red-rgb: 243, 139, 168;
    --color-red: #F38BA8;
    --color-orange-rgb: 250, 179, 135;
    --color-orange: #FAB387;
    --color-yellow-rgb: 249, 226, 175;
    --color-yellow: #F9E2AF;
    --color-green-rgb: 166, 227, 161;
    --color-green: #A6E3A1;
    --color-cyan-rgb: 148, 226, 213;
    --color-cyan: #94E2D5;
    --color-blue-rgb: 116, 199, 236;
    --color-blue: #74C7EC;
    --color-purple-rgb: 169, 180, 250;
    --color-purple: #a9b4fa;
    --color-pink-rgb: 245, 194, 231;
    --color-pink: #F5C2E7;

    --divider-color: rgb(255 255 255 / 5%) !important;

    --modal-background: var(--background-secondary) !important;
    --modal-border-color: rgb(255 255 255 / 10%);

    --input-shadow: 0px 0px 0px 1px rgb(0 0 0 / 10%), 0 0.5px 0 0 rgb(255 255 255 / 10%) inset !important;
    --interactive-normal: var(--color-base-35);
    --slider-thumb-border-color: var(--color-base-35);

    --nav-item-color: var(--text-muted);
    --nav-item-color-hover: var(--text-muted);
    --nav-item-color-active: var(--text-muted);
    --nav-item-color-selected: var(--text-muted);

    --nav-indentation-guide-color: rgba(var(--mono-rgb-100), 0.08);
}

// Oled trueblack on mobile
// Same as default theme
.theme-dark.is-mobile {
    --background-primary: hsl(220deg 0% 0%);
    --background-primary-alt: hsl(220deg 2% 10%);

    --background-secondary: hsl(220deg 2% 10%);
    --background-secondary-alt: hsl(220deg 0% 15%);

    --background-table-rows: hsl(220deg 2% 10%);
}