/* @settings

name: Sei
id: sei
settings:
    -
        id: sei-header-desktop-tablet
        title: Desktop & Tablet
        type: heading
        level: 1
        collapsed: false
    -
        id: sei-accented-frame-opacity
        title: Accented window frame
        description: Higher value reduces overall interface contrast.
        type: variable-number-slider
        default: 0
        min: 0
        max: 100
        step: 5
    -
        id: sei-header-headings
        title: Headings
        type: heading
        level: 2
        collapsed: false
    -
        id: sei-remove-divider-inline-title
        title: Remove divider line below Inline title
        type: class-toggle
    -
        id: sei-remove-divider-h1
        title: Remove divider line below H1
        type: class-toggle
    -
        id: sei-disable-header-indicators
        title: Disable Header indicators in the gutter
        description: Replace the Header indicators with the vanilla arrows
        type: class-toggle
    -
        id: sei-header-tabs
        title: Tabs
        type: heading
        level: 2
        collapsed: false
    -
        id: sei-disable-centered-tabs
        title: Disable centered tabs
        description: Align tabs back to the left
        type: class-toggle
*/
